<link rel="stylesheet" href="~/css/foote.css" />
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-3 text-primary">GOAT RONALDO HOTEL </h5>
                <p class="text-white-50">Trải nghiệm dịch vụ đẳng cấp world class với không gian sang trọng và các dịch vụ độc quyền có 1 không 2.</p>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3 text-primary">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li class="text-white-50"><i class="bi bi-geo-alt-fill me-2"></i> Manchester, United Cumdom</li>
                    <li class="text-white-50"><i class="bi bi-telephone-fill me-2"></i> +84 123 456 789</li>
                    <li class="text-white-50"><i class="bi bi-envelope-fill me-2"></i> sayGexToRonaldo@gmail.com</li>
                    <li>
                        <a href="https://github.com/Huy2005-troller" class="text-white-50">
                            <i class="bi bi-github me-2"></i>
                            Anthony Github
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3 text-primary">Kết nối với chủ tịch Ronaldo</h5>
                <div>
                    <a href="https://www.instagram.com/cristiano/"                      class="text-white-50 me-3"><i class="bi bi-instagram fs-4"></i></a>
                    <a href="https://www.facebook.com/Cristiano/about?locale=vi_VN"     class="text-white-50 me-3"><i class="bi bi-facebook fs-4"></i></a>
                    <a href="http://x.com/Cristiano" class="text-white-50 me-3"><i class="bi bi-twitter fs-4"></i></a>
                    <a href="https://www.cristianoronaldo.com/#cr7" class="text-white-50 me-3"><i class="bi bi-globe fs-4"></i></a>
                    <a href="https://www.youtube.com/channel/UCtxD0x6AuNNqdXO9Wp5GHew" class="text-white-50 me-3"><i class="bi bi-youtube fs-4"></i></a>
                </div>
            </div>
        </div>
        <hr class="bg-secondary mt-4">
        <div class="text-center py-2">
            <p class="text-white-50 mb-0">Copyright © @DateTime.Now.Year. All Rights Reserved | <a href="/privacy" class="text-primary text-decoration-none">Chính sách bảo mật</a></p>
        </div>
    </div>
</footer>

