@media print {
    body * {
        visibility: hidden;
    }

    .no-print {
        display: none !important;
    }

    #printArea, #printArea * {
        visibility: visible;
    }

    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .btn, a.btn {
        display: none !important;
    }
}
